@import "./../../colorConfig";
.class-list-box{
  width: 100%;
  .table-box{
    width: 100%;
    .ant-table-row-level-0 td{
      font-size: 17px;
      font-weight: 500;
    }
    .ant-table-row-level-1 td{
      font-size: 16px;
      font-weight: 400;
    }
    .ant-table-row-level-2 td{
      font-size: 14px;
      font-weight: 300;
    }
  }
}