@import "../colorConfig";

.home-page-box {
  width: 100%;

  .innerbox {
    border: 1px solid #e4e4e4;
    padding: 20px 16px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    width: 375px;
    height: 175px;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    .ant-statistic{
      .ant-statistic-title{color: #fff !important;}
      .ant-statistic-content{color: #fff !important;}
    }
    &.totalOrdersNum{
      background:linear-gradient(90deg,rgba(14,144,254,1),rgba(16,184,248,1));
    }
    &.totalSales{
      background:linear-gradient(90deg,rgba(251,83,83,1),rgba(255,139,108,1));
    }
    &.totalMerchants{
      background:linear-gradient(90deg,rgba(255,190,61,1),rgba(255,212,61,1));
    }
    &.totalAccount{
      background:linear-gradient(90deg,rgba(32,207,147,1),rgba(55,233,193,1));
    }
  }

  .card-box {
    width: 100%;
    border: 1px solid #e4e4e4;

    .card-tit {
      height: 34px;
      line-height: 34px;
      border-bottom: 1px solid #e4e4e4;
      background: #f3f3f3;
      color: $c66;
      font-size: 16px;
      padding-left: 16px;
    }

    .card-container {
      padding: 16px 20px;
    }

    .task-line {
      height: 32px;
      line-height: 32px;
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: space-between;

      .task-tit,
      .task-num {
        font-size: 14px;
        margin: 0 16px;

        a {
          color: $c66;
        }
      }

      .task-num {
        i {
          color: #cc3a3a;
        }
      }
    }
    .overview{
      display: flex;
      &>div{
        min-width: 130px;
        height: 110px;
        text-align: center;
        margin-right: 10px;
        padding: 30px 10px 20px;
        .tit,.num {
          font-size: 16px;
          color: $c66;
        }
        .num{
          font-weight: 550;
          font-size: 26px;
          &:hover {
            color: $blue;
          }
        }
      }
    }
    .Shortcut{
      display: flex;
      &>div{
        width: 130px;
        height: 110px;
        
        text-align: center;
        margin-right: 10px;
        padding: 10px 10px;
        font-size: 18px;
        a{
          color: #666;
          width: auto;
          height: 62px;
          line-height: 62px;
          display: inline-block;
          &:hover{
            color: $blue;
          }
          i{
            font-size: 62px;
          }
        }
      }
    }
  }
}